# Employee Retention Analysis

Employee retention data is from "IBM HR Analytics Employee Attrition & Performance" from Kaggle:

https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset

Some of the data features include Education, Job Involvement and Satisfaction, Performance, Work life balance, etc... 

See data source for more detail

## Purpose

I will understand what features correlate with employee attrition. This information can be used to help predict people who may be planning on leaving there position. Once identified, the company can have a discussion with the employee to understand if there are things within their job and/or career path that they would like to see imporoved. If at risk employees can be identified early, then this will help both the company and employees. The employee can improve their job and life satisfaction with proper intervention. Also, the company can retain their top talent and minimize hiring and training costs.

## ETL

### Import Data and Load Libraries

In [4]:
import altair as alt
import pandas as pd
#from sklearn.preprocessing import OneHoteEncoder, OrdinalEncoder

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [33]:
df = pd.read_csv('EmployeeRetention.csv')
typeDict = {'Age':'int16',
            'Attrition':'category',
            'BusinessTravel':'category',
            'DailyRate':'int32',
            'Department':'category',
            'DistanceFromHome':'int16',
            'Education':'category',
            'EducationField':'category',
            'EmployeeCount':'int32',
            'EmployeeNumber':'int32',
            'EnvironmentSatisfaction':'category',
            'Gender':'category',
            'HourlyRate':'int32',
            'JobInvolvement':'category',
            'JobLevel':'category',
            'JobRole':'category',
            'JobSatisfaction':'category',
            'MaritalStatus':'category',
            'MonthlyIncome':'int32',
            'MonthlyRate':'int32',
            'NumCompaniesWorked':'int16',
            'Over18':'bool',
            'OverTime':'bool',
            'PercentSalaryHike':'int16',
            'PerformanceRating':'category',
            'RelationshipSatisfaction':'category',
            'StandardHours':'int16',
            'StockOptionLevel':'category',
            'TotalWorkingYears':'int16',
            'TrainingTimesLastYear':'int16',
            'WorkLifeBalance':'category',
            'YearsAtCompany':'int16',
            'YearsInCurrentRole':'int16',
            'YearsSinceLastPromotion':'int16',
            'YearsWithCurrManager':'int16'
            }
df = df.astype(typeDict)



## Change the features from integers to alphanumeric categories, prior to teaching a model, encorporate OrdinalEncoder
attrition = {'Yes': True,
             'No': False}

education = {1:'High School',
             2:'College',
             3:'Bachelor',
             4:'Master',
             5:'Doctor'}

environmentSatisfaction = {1:'Low',
                           2:'Medium',
                           3:'High',
                           4:'Very High'}

jobInvolvement = {1:'Low',
                  2:'Medium',
                  3:'High',
                  4:'Very High'}

jobSatisfaction = {1:'Low',
                   2:'Medium',
                   3:'High',
                   4:'Very High'}

performanceRating = {1:'Low',
                     2:'Good',
                     3:'Excellent',
                     4:'Outstanding'}

relationshipSatisfaction = {1:'Low',
                            2:'Medium',
                            3:'High',
                            4:'Very High'}

workLifeBalance = {1:'Bad',
                   2:'Good',
                   3:'Better',
                   4:'Best'}


## Defining the order of the ordinal features
educationOrder = ['High School','College','Bachelor','Master','Doctor']
ordinalOrder = ['Low','Medium','High','Very High']
performanceOrder = ['Low','Good','Excellent','Outstanding']
workOrder = ['Bad','Good','Better','Best']
jobOrder = [1,2,3,4,5]
stockOrder = [0,1,2,3]

##
df['Attrition'] = df['Attrition'].map(attrition)
df['Education'] = df['Education'].map(education)
df['EnvironmentSatisfaction'] = df['EnvironmentSatisfaction'].map(environmentSatisfaction)
df['JobInvolvement'] = df['JobInvolvement'].map(jobInvolvement)
df['JobSatisfaction'] = df['JobSatisfaction'].map(jobSatisfaction)
df['PerformanceRating'] = df['PerformanceRating'].map(performanceRating)
df['RelationshipSatisfaction'] = df['RelationshipSatisfaction'].map(relationshipSatisfaction)
df['WorkLifeBalance'] = df['WorkLifeBalance'].map(workLifeBalance)

##
df['Attrition'] = df['Attrition'].astype('bool')
df['Education'] = df['Education'].astype(pd.api.types.CategoricalDtype(categories = educationOrder, ordered = True))
df['EnvironmentSatisfaction'] = df['EnvironmentSatisfaction'].astype(pd.api.types.CategoricalDtype(categories = ordinalOrder, ordered = True))
df['JobInvolvement'] = df['JobInvolvement'].astype(pd.api.types.CategoricalDtype(categories = ordinalOrder, ordered = True))
df['JobSatisfaction'] = df['JobSatisfaction'].astype(pd.api.types.CategoricalDtype(categories = ordinalOrder, ordered = True))
df['PerformanceRating'] = df['PerformanceRating'].astype(pd.api.types.CategoricalDtype(categories = performanceOrder, ordered = True))
df['RelationshipSatisfaction'] = df['RelationshipSatisfaction'].astype(pd.api.types.CategoricalDtype(categories = ordinalOrder, ordered = True))
df['WorkLifeBalance'] = df['WorkLifeBalance'].astype(pd.api.types.CategoricalDtype(categories = workOrder, ordered = True))
df['JobLevel'] = df['JobLevel'].astype(pd.api.types.CategoricalDtype(categories = jobOrder, ordered = True))
df['StockOptionLevel'] = df['StockOptionLevel'].astype(pd.api.types.CategoricalDtype(categories = stockOrder, ordered = True))

In [34]:
df.describe(include = 'all')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470,1470,1470.000000,1470,1470.000000,1470,1470,1470.0,1470.000000,1470,1470,1470.000000,1470,1470.0,1470,1470,1470,1470.000000,1470.000000,1470.000000,1470,1470,1470.000000,1470,1470,1470.0,1470.0,1470.000000,1470.000000,1470,1470.000000,1470.000000,1470.000000,1470.000000
unique,NaN,2,3,NaN,3,NaN,5,6,NaN,NaN,4,2,NaN,4,5.0,9,4,3,NaN,NaN,NaN,1,1,NaN,2,4,NaN,4.0,NaN,NaN,4,NaN,NaN,NaN,NaN
top,NaN,False,Travel_Rarely,NaN,Research & Development,NaN,Bachelor,Life Sciences,NaN,NaN,High,Male,NaN,High,1.0,Sales Executive,Very High,Married,NaN,NaN,NaN,True,True,NaN,Excellent,High,NaN,0.0,NaN,NaN,Better,NaN,NaN,NaN,NaN
freq,NaN,1233,1043,NaN,961,NaN,572,606,NaN,NaN,453,882,NaN,868,543.0,326,459,673,NaN,NaN,NaN,1470,1470,NaN,1244,459,NaN,631.0,NaN,NaN,893,NaN,NaN,NaN,NaN
mean,36.923810,NaN,NaN,802.485714,NaN,9.192517,NaN,NaN,1.0,1024.865306,NaN,NaN,65.891156,NaN,NaN,NaN,NaN,NaN,6502.931293,14313.103401,2.693197,NaN,NaN,15.209524,NaN,NaN,80.0,NaN,11.279592,2.799320,NaN,7.008163,4.229252,2.187755,4.123129
std,9.135373,NaN,NaN,403.509100,NaN,8.106864,NaN,NaN,0.0,602.024335,NaN,NaN,20.329428,NaN,NaN,NaN,NaN,NaN,4707.956783,7117.786044,2.498009,NaN,NaN,3.659938,NaN,NaN,0.0,NaN,7.780782,1.289271,NaN,6.126525,3.623137,3.222430,3.568136
min,18.000000,NaN,NaN,102.000000,NaN,1.000000,NaN,NaN,1.0,1.000000,NaN,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,1009.000000,2094.000000,0.000000,NaN,NaN,11.000000,NaN,NaN,80.0,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
25%,30.000000,NaN,NaN,465.000000,NaN,2.000000,NaN,NaN,1.0,491.250000,NaN,NaN,48.000000,NaN,NaN,NaN,NaN,NaN,2911.000000,8047.000000,1.000000,NaN,NaN,12.000000,NaN,NaN,80.0,NaN,6.000000,2.000000,NaN,3.000000,2.000000,0.000000,2.000000
50%,36.000000,NaN,NaN,802.000000,NaN,7.000000,NaN,NaN,1.0,1020.500000,NaN,NaN,66.000000,NaN,NaN,NaN,NaN,NaN,4919.000000,14235.500000,2.000000,NaN,NaN,14.000000,NaN,NaN,80.0,NaN,10.000000,3.000000,NaN,5.000000,3.000000,1.000000,3.000000
75%,43.000000,NaN,NaN,1157.000000,NaN,14.000000,NaN,NaN,1.0,1555.750000,NaN,NaN,83.750000,NaN,NaN,NaN,NaN,NaN,8379.000000,20461.500000,4.000000,NaN,NaN,18.000000,NaN,NaN,80.0,NaN,15.000000,3.000000,NaN,9.000000,7.000000,3.000000,7.000000
max,60.000000,NaN,NaN,1499.000000,NaN,29.000000,NaN,NaN,1.0,2068.000000,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,19999.000000,26999.000000,9.000000,NaN,NaN,25.000000,NaN,NaN,80.0,NaN,40.000000,6.000000,NaN,40.000000,18.000000,15.000000,17.000000

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int16
 1   Attrition                 1470 non-null   bool
 2   BusinessTravel            1470 non-null   category
 3   DailyRate                 1470 non-null   int32
 4   Department                1470 non-null   category
 5   DistanceFromHome          1470 non-null   int16
 6   Education                 1470 non-null   category
 7   EducationField            1470 non-null   category
 8   EmployeeCount             1470 non-null   int32
 9   EmployeeNumber            1470 non-null   int32
 10  EnvironmentSatisfaction   1470 non-null   category
 11  Gender                    1470 non-null   category
 12  HourlyRate                1470 non-null   int32
 13  JobInvolvement            1470 non-null   category
 14  JobLevel                  1470 non-null   category
 15  JobRole                   1470 non-null   category
 16  JobSatisfaction           1470 non-null   category
 17  MaritalStatus             1470 non-null   category
 18  MonthlyIncome             1470 non-null   int32
 19  MonthlyRate               1470 non-null   int32
 20  NumCompaniesWorked        1470 non-null   int16
 21  Over18                    1470 non-null   bool
 22  OverTime                  1470 non-null   bool
 23  PercentSalaryHike         1470 non-null   int16
 24  PerformanceRating         1470 non-null   category
 25  RelationshipSatisfaction  1470 non-null   category
 26  StandardHours             1470 non-null   int16
 27  StockOptionLevel          1470 non-null   category
 28  TotalWorkingYears         1470 non-null   int16
 29  TrainingTimesLastYear     1470 non-null   int16
 30  WorkLifeBalance           1470 non-null   category
 31  YearsAtCompany            1470 non-null   int16
 32  YearsInCurrentRole        1470 non-null   int16
 33  YearsSinceLastPromotion   1470 non-null   int16
 34  YearsWithCurrManager      1470 non-null   int16
dtypes: bool(3), category(15), int16(11), int32(6)
memory usage: 94.9 KB

#### Additional Cleaning from above information

In [ ]:
del df['EmployeeCount'] #All values were equal to 1

In [14]:
df['Attrition'].sum()
#df.info()

1470